body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9; /* Hafif gri arka plan */
  margin: 0;
  padding: 0;
  display: flex; /* Sayfa ortalamak için flex kullanıldı */
  justify-content: center; /* Yatayda merkezleme */
  align-items: center; /* Dikeyde merkezleme */
  box-sizing: border-box;
}

.cv-container {
  background-color: #ffffff; /* Beyaz kutu */
  border-radius: 8px; /* Köşeleri yumuşatma */
  padding: 20px;
  max-width: 700px;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Hafif gölge efekti */
  text-align: center; /* Ortalanmış metin */
}

h1 {
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5em;
  color: #646cff;
  border-bottom: 2px solid #646cff;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

ul li {
  margin: 5px 0;
  color: #555;
  font-size: 1.1em;
}

.profile-img {
  width: 150px; /* Fotoğrafın genişliği */
  height: 150px; /* Fotoğrafın yüksekliği */
  border-radius: 50%; /* Fotoğrafı yuvarlak yapmak için */
  object-fit: cover; /* Fotoğrafın oranlarını koruyarak alanı doldurmasını sağlar */
  margin-bottom: 20px; /* Fotoğrafın altına boşluk eklemek için */
}

.social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  color: #646cff;
  text-decoration: none;
  font-size: 1.2em;
}

.social-links a:hover {
  color: #333;
}

.social-links svg {
  margin-right: 8px;
}
